<!-- ========== HEADER ========== -->
<header class="sticky top-0 inset-x-0 flex flex-wrap md:justify-start md:flex-nowrap z-50 w-full text-sm">
  <nav class="mt-6 relative max-w-[85rem] w-full bg-gradient-to-r from-gray-400/[.8] to-gray-800/[.8] border border-gray-200/[.8] rounded-[36px] mx-2 py-3 px-4 md:flex md:items-center md:justify-between md:py-0 md:px-6 lg:px-8 xl:mx-auto" aria-label="Global">
    <div class="flex items-center justify-between">
      <a href="/" class="hover:opacity-75">
        <%= image_tag "logo.png", class: "w-[3.5rem] h-auto" %>
      </a>
      <div class="md:hidden">
        <button type="button" class="hs-collapse-toggle w-8 h-8 flex justify-center items-center text-sm font-semibold rounded-full border border-gray-300 text-gray-300 hover:opacity-70 disabled:opacity-50 disabled:pointer-events-none" data-hs-collapse="#navbar-collapse-with-animation" aria-controls="navbar-collapse-with-animation" aria-label="Toggle navigation">
          <i class="fa-solid fa-bars"></i>
        </button>
      </div>
    </div>
    <div id="navbar-collapse-with-animation" class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow md:block">
      <div class="flex flex-col gap-y-4 gap-x-0 mt-5 md:flex-row md:items-center md:justify-end md:gap-y-0 md:gap-x-7 md:mt-0 md:ps-7">
        <a class="font-medium text-gray-100 hover:opacity-75 md:py-6" href="#">
          About Us
        </a>
        <a class="font-medium text-gray-100 hover:opacity-75 md:py-6" href="#">
          Our Services
        </a>
        <a class="font-medium text-gray-100 hover:opacity-75 md:py-6" href="#">
          Our Team
        </a>
        <a class="font-medium text-gray-100 hover:opacity-75 md:py-6" href="#">
          Contact Us
        </a>
      </div>
    </div>
  </nav>
</header>
<!-- ========== END HEADER ========== -->
